{% extends 'base.html'%}

{% block content%}

<div class="col-md-6 offset-md-3">
<form method="POST" >
     {% csrf_token %}
    
    {% if form.errors %}
       <div class="alert alert-warning alert-dismissable" role="alert">
          <button class="close" data-dismiss="alert">
                  <small><sup>X</sup></small>
            </button>
          <p> You Form Has Errors......
         
         {% for field in form %}
             {% if field.errors %}
                 {{field.errors}}
             {% endif %}
         {% endfor %}
       </p>
    </div>

    {% endif %}

    {{form.as_p}}

    <input type="submit" value="Submit" class="btn btn-primary">
Don't have accoun't? <a href="{% url 'student_signup' %}"> Register Now</a>
</form>

</div>

{% endblock content %}