{% extends 'base.html'%}

 {% block content%}

<div class="row">
  <div class="col-sm-2 ">
  	<h3 class="ml-4" >{{request.user}} <small class="text-success"> online</small></h3>

  	<!-- vertical nav -->
 <div class="container  border-right">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'add_proj'%}">New Project</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">View Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 's_messages' %}">Communicate</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Update Profile</a>
    </li>
  </ul>
</div>

  </div>


  <!-- right side of the page -->
  <div class="col-sm-10">
  	<br><br>
  	<!-- projects table -->
  	<div class="container">
  	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Supervisor</th>
      </tr>
    </thead>
    <tbody>
    	{% for project in projects %}
      <tr>
        <td>{{project.title}}</td>
        <td>{{project.status}}</td>
        <td><a href="#">{{project.supervisor}}</a></td>
      </tr>
      {% endfor%}
      
    </tbody>
  </table>
</div>
  </div>
</div>



 {% endblock content%}